<!DOCTYPE html>
<html>
<head>
    <title>编辑支出记录</title>
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>编辑支出记录</h1>
    <form action="/expenses/edit/<%= expense._id %>" method="POST">
        <div class="form-group">
            <label for="description">描述:</label>
            <input type="text" class="form-control" id="description" name="description" value="<%= expense.description %>" required>
        </div>
        <div class="form-group">
            <label for="amount">金额:</label>
            <input type="number" class="form-control" id="amount" name="amount" value="<%= expense.amount %>" required>
        </div>
        <div class="form-group">
            <label for="category">大类:</label>
            <input type="text" class="form-control" id="category" name="category" value="<%= expense.category %>" required>
        </div>
        <div class="form-group">
            <label for="subcategory">小类:</label>
            <input type="text" class="form-control" id="subcategory" name="subcategory" value="<%= expense.subcategory %>" required>
        </div>
        <div class="form-group">
            <label for="date">日期:</label>
            <input type="date" class="form-control" id="date" name="date" value="<%= new Date(expense.date).toISOString().slice(0, 10)  %>" required> <!-- 添加日期选择器 -->
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
        <a href="/" class="btn btn-secondary">取消</a>
    </form>
</div>
</body>
</html>