<!DOCTYPE html>
<html>
<head>
    <title>查看日记</title>
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="/bootstrap.min.css">    
    <style>
        body {
            padding-top: 20px;
        }
        .diary-content {
          margin-top: 20px;
        }
        .image-list {
            margin-top: 20px;
        }
        .image-list img {
            max-width: 200px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>查看日记</h1>
    <a href="/diary" class="btn btn-secondary">返回日记列表</a>
    <hr>
    <h2><%= diary.title %></h2>
    <p>日期：<%= new Date(diary.date).toLocaleDateString() %></p>
    <% if (diary.weather) { %>
        <p>天气：<%= diary.weather %></p>
    <% } %>
    <% if (diary.mood) { %>
        <p>心情：<%= diary.mood %></p>
    <% } %>
    <% if (diary.location) { %>
        <p>地点：<%= diary.location %></p>
    <% } %>
     <% if (diary.people) { %>
        <p>人物：<%= diary.people %></p>
    <% } %>
    <% if (diary.tags) { %>
        <p>标签：<%= diary.tags %></p>
    <% } %>
    <div class="diary-content">
        <h3>计划列表:</h3>
        <ul>
            <% diary.planList.forEach(plan => { %>
                <li><%= plan %></li>
            <% }); %>
        </ul>

        <h3>事件列表:</h3>
        <ul>
            <% diary.eventList.forEach(event => { %>
                <li><%= event %></li>
            <% }); %>
        </ul>

        <h3>心情随笔:</h3>
        <%= diary.feeling %>

        <h3>每日总结:</h3>
        <p><%= diary.summary %></p>
    </div>
       <% if (diary.imageUrls && diary.imageUrls.length > 0) { %>
            <h3>相关图片:</h3>
            <div class="image-list">
                <% diary.imageUrls.forEach(imageUrl => { %>
                    <img src="<%= imageUrl %>" alt="日记图片">
                <% }); %>
            </div>
        <% } %>
    
</div>
</body>
</html>